body{
background: #fff;
margin:0;
font-family: Arial,Helvetica,sans-serif;
width:100%;
}
#main-header{
	background-color:#fff;
	overflow: hidden;
	position: relative;

}
#main-header img{
	display:inline;
}
#main-header h4 {
	display: inline;
	position: relative;
	top:-45px;
	padding-left:50px;
	left:-85px;
	/*min-height:100%;*/
}
#main-header  h3{
	display: inline;
	position: relative;
	top:-45px;
	left:50px;
	padding-left:50px;
	color:rgb(33,134,184);
	/*color:rgb(98,175,213);*/
	/*color:rgb(96,170,205);*/
	/*color:rgb(43,140,188);*/
}
#submit{
	position:absolute;
	right:130px;
	bottom:50px;
	font-size:18px;
	border:none;
	background-color: rgb(209,232,243);
	color:rgb(148,201,227);
}
.container2{
	border-bottom: rgb(134,182,62) solid 3px ;
	width:80%;
	margin:auto;
}
.container-ul{
	margin:auto;
	width:80%;
	/*margin-top:30px;*/
}
.container{
	margin:auto;
	width:80%;
	margin-top:30px;
	background: rgb(252,253,254);
	position:relative;
}
a{
	text-decoration: none;
	color:#fff;
}
#navbar {
	background: rgb(34,98,128);
	overflow: hidden;
	height:35px;
	padding-top: 10px;
}
#navbar li {
	list-style: none;
	display: inline;
	position:relative;
	padding-left:115px;
	padding-top:20px;
	color:#fff;
}
.cancel-apply {
	position: relative;
	top:130px;
	left:40%;
}
#cancel {
	position: relative;
	border:none;
	background-color: rgb(134,182,62);
	color:#fff;
	height:30px;
	width:90px;
	margin-right:0.3rem;
}
#apply {
	position: relative;
	border:none;
	background-color: rgb(101,154,89);
	color:#fff;
	height:30px;
	width:90px;
	
}
.main  {

	/*display: flex;
	justify-content: space-between;
	flex-direction:column;*/
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap:1rem;

}
.first-div{
	position:relative;

}
.second-div {
	position:relative;

}

.allDiv1 > select{
	order:1;
	display:block;
	width:100%;
	height:33px;
	margin-bottom:7px;
	background:rgb(244,249,252);

}
.allDiv1 >label{
	color:rgb(166,196,222);
}

.allDiv2 > select{
	order:2;
	display:block;
	width:100%;
	height:33px;
	margin-bottom:7px;
	background:rgb(244,249,252);


}
.allDiv2 >label{
	color:rgb(166,196,222);
}
.allDiv3 > select{
	order:3;
	display:block;
	width:100%;
	height:33px;
	margin-bottom:10px;
	background:rgb(244,249,252);

}
.allDiv3 >label{
	color:rgb(166,196,222);
}
.allDiv4 > select{
	order:4;
	display:block;
	width:100%;
	height:33px;
	margin-bottom:5px;
	background:rgb(244,249,252);

}
.allDiv4 >label{
	color:rgb(166,196,222);
}
.allDiv5 > select{
	order:5;
	display:block;
	width:100%;
	height:33px;
	margin-bottom:10px;
	background:rgb(244,249,252);

}
.allDiv5 >label{
	color:rgb(166,196,222);
}

.allDiv6 {
	border:1px solid #ccc;
	order:6;
	display:block;
	width:100%;
	margin-bottom:10px;
	height:33px;
	background:rgb(244,249,252);

}
.allDiv6 >label{
	color:rgb(166,196,222);
}
.allDiv6 input{
	margin-left:10px;
}
.allDiv7 {
	border:1px solid #ccc;
	order:7;
	display:block;
	width:100%;
	margin-bottom:20px;
	height:33px;
	background:rgb(244,249,252);

}
label{
	
	color:rgb(166,196,222);
}
/*select{
	background-color:none;
}*/
.allDiv7 input{
	margin-left:10px;
}
.allDiv8 > input{
	order:8;
	display:block;
	width:100%;
	height:25px;
	background:rgb(244,249,252);
	margin-bottom:10px;
}
.allDiv9 > select{
	order:9;
	display:block;
	width:102%;
	height:33px;
	margin-bottom:5px;
	background:rgb(244,249,252);


}
.allDiv10 > select{
	order:10;
	display:block;
	width:102%;
	height:33px;
	margin-bottom:8px;
	background:rgb(244,249,252);

}
.allDiv11 > input{
	order:11;
	display:block;
	width:101%;
	height:32px;
	margin-bottom:7px;
	background:rgb(244,249,252);
}

#main-footer {
	background: rgb(34,98,128);
	position: relative;
	top:180px;
	height:60px;
	text-align: center;
	/*display: inline;*/
}
#main-footer p{
	position:relative;
	top:20px;
	padding-left: 15px;
	display: inline;
	color:#fff;
	font-size:15px;
}

/*Adding @media queries*/
@media(max-width: 900px) {
		.container2{
			border-bottom: rgb(134,182,62) solid 3px ;
			width:80%;
			margin:auto;
			display:flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: flex-start;
			height:120px;
		}
		#main-header  h3{
			display: flex;
			position: relative;
			top:-95px;
			left:20px;
			padding-left:150px;
			color:rgb(33,134,184);
			font-size:14px;
			width:100%;
			text-align: center;

			
		}
		#submit{
			position:absolute;
			right:80px;
			bottom:53px;
			font-size:15px;
			border:none;
			background-color: rgb(209,232,243);
			color:rgb(148,201,227);
		}
		#navbar li {
			list-style: none;
			display: inline;
			position:relative;
			padding-left:10px;
			padding-top:20px;
			color:#fff;
		}
}
@media(max-width: 700px) {
		.container2{
			border-bottom: rgb(134,182,62) solid 3px ;
			width:80%;
			margin:auto;
			display:flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: flex-start;
			height:100px;
		}
		#main-header  h3{
			display: flex;
			position: relative;
			top:-95px;
			left:20px;
			padding-left:150px;
			color:rgb(33,134,184);
			font-size:14px;
			width:100%;
			text-align: center;

			
		}
		#submit{
			position:absolute;
			right:30px;
			bottom:10px;
			font-size:15px;
			border:none;
			background-color: rgb(209,232,243);
			color:rgb(148,201,227);
		}
		#navbar {
			height:120px;
			width: 100%;
		}
		.container-ul  {
			display: grid;
			grid-template-columns:repeat(2,1fr);
			list-style: none;
			grid-gap:-1em;
			/*display: b*/
			position:relative;
			/*padding-left:120px;*/
			
			color:#fff;

		}
		
		.main  {

			/*display: flex;
			justify-content: space-between;
			flex-direction:column;*/
			display: grid;
			grid-template-columns:1fr;
			grid-gap:0.1rem;

		}
		.cancel-apply {
			position: relative;
			top:130px;
			left:35%;
		}
}

@media(max-width: 375px) {
		.container2{
			border-bottom: rgb(134,182,62) solid 3px ;
			width:80%;
			margin:auto;
			display:flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: flex-start;
			height:100px;
		}
		#main-header  h3{
			display: flex;
			position: relative;
			top:-95px;
			left:20px;
			padding-left:150px;
			color:rgb(33,134,184);
			font-size:14px;
			width:100%;
			text-align: center;

			
		}
		#submit{
			position:absolute;
			right:30px;
			bottom:10px;
			font-size:15px;
			border:none;
			background-color: rgb(209,232,243);
			color:rgb(148,201,227);
		}
		#navbar {
			height:120px;
			width: 100%;
		}
		.container-ul  {
			display: grid;
			grid-template-columns:repeat(2,1fr);
			list-style: none;
			grid-gap:-1em;
			/*display: b*/
			position:relative;
			/*padding-left:120px;*/
			
			color:#fff;

		}
		
		.main  {

			/*display: flex;
			justify-content: space-between;
			flex-direction:column;*/
			display: grid;
			grid-template-columns:1fr;
			grid-gap:0.1rem;

		}
		.cancel-apply {
			position: relative;
			top:130px;
			left:35%;
		}
}

